
.container {
  max-width: 960px;
  padding: 0 6em 3em;
}

blockquote {
  border-left: 3px solid #00CC8F;
  color: #1a1a1a;
  font-family: Georgia, Times, "Times New Roman", serif;
  
  font-style: italic;
  line-height: 1.8em;
  margin: 1.1em 0;
  padding: 1em 2em;
  position: relative;
  transition: 0.2s border ease-in-out;
  z-index: 0;
}
blockquote:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  height: 2em;
  background-color: #fff;
  width: 5px;
  margin-top: -1em;
}
blockquote:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5em;
  color: #00CC8F;
  font-family: "Ionicons";
  font-style: normal;
  line-height: 1em;
  text-align: center;
  text-indent: -2px;
  width: 1em;
  margin-top: -0.5em;
  transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
}
blockquote.format:before, blockquote.format:after {
  display: none;
}
blockquote.book:after {
  content: "";
}
blockquote.podcast:after {
  content: "";
}
blockquote.lyrics:after {
  content: "";
}
blockquote.favorite:after {
  content: "";
}
blockquote:active:after {
  transform: rotateY(360deg);
}
blockquote cite {
  display: block;
  font-size: 0.75em;
  line-height: 1.8em;
  margin-top: 1em;
}

@media (max-width: 980px) {

  blockquote {
    font-size: 1.1em;
    margin: 1.1em -2em;
  }
}
@media (max-width: 767px) {

  blockquote {
    border-top: 2px solid #00CC8F;
    border-bottom: 2px solid #00CC8F;
    border-left: none;
    margin: 1.5em 0;
    padding: 1.5em 1em;
  }
  blockquote:before {
    left: 50%;
    top: 0;
    height: 4px;
    margin-top: -3px;
    margin-left: -1em;
    width: 2em;
  }
  blockquote:after {
    font-size: 0.75em;
    left: 50%;
    top: 0;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
  blockquote cite {
    text-align: right;
  }
}